html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 0.5rem 3rem;
}

.logo {
    height: 3rem;
    width: auto;
}

.logo img {
    height: 100%;
    width: 100%;
    border-radius: 25%;
}

button a {
    color: black;
    text-decoration: none;
}