html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    min-height: 100vh;
}

.header {
    display: flex;
    /* row start / col start / row end / col end */
    grid-area: 1 / 1 / 2 / 5;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    padding: 0.5rem 3rem;
    border-bottom: 1px solid black;
}

.logo {
    height: 3rem;
    width: auto;
}

.logo img {
    height: 100%;
    width: 100%;
    border-radius: 25%;
}

a {
    color: black;
    text-decoration: none;
}

.main-container {
    display: flex;
    grid-area: 2 / 1 / 7 / 5;
}

.left-sidebar {
    /* background-color: aliceblue; */
    border-right: 1px solid black;
}

.left-sidebar li {
    list-style-type: none;
    padding: 0.5rem 3rem;
}

.left-sidebar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.left-sidebar li:hover {
    background-color: lightgrey;
}

.content {
    flex: auto;
    overflow: scroll;
}

.right-sidebar {
    padding: 1rem;
    border-left: 1px solid black;
}