body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.title > a {
    font-size: 3rem;
    color: white;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.form-container {
    width: 25rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 5px double white;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.form-section {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
}

button[type="submit"] {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

button[type="submit"]:hover {
    background-color: #ddd;
}

button[type="submit"]:disabled {
    background-color: #666;
    cursor: not-allowed;
}

p {
    text-align: center;
    margin-top: 1rem;
}

p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
}